.aoi-minigame {
  position: relative;
  width: 640px;
  max-width: 640px;
  height: 360px;
  max-height: 360px;
  padding: 0 0 0 0;
  border: 1px solid black;
  margin: 0 0 0 0;
  overflow: hidden;
  background-color: cornflowerblue;
}