.meno-puzzle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-distance) var(--shadow-distance) 0 #00000080;

  .meno-puzzle-row {
    display: flex;
    justify-content: center;

    .meno-puzzle-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--cell-size);
      height: var(--cell-size);
      background-color: gray;
      outline: 2px solid black;
      margin: 1px;

      &.shiny {
        background-color: rgb(110, 110, 255);

        &.highlight {
          background-color: rgb(167, 167, 255);
        }
      }

      &.investigate {
        background-color: darkkhaki;

        &.highlight {
          background-color: yellow;
        }
      }

      &.highlight {
        background-color: lightgray;
      }

      &.broken {
        background-color: #202020;

        &.shiny {
          background-color: darkblue;
        }
      }

      .shiny-below {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/meno/tiles.png");
        background-size: cover;
      }

      .meno-puzzle-cell-inner {
        position: absolute;
        width: 100%;
        font-size: 32px;
        word-wrap: break-word;
      }

      &.right-edge::before {
        content: '';
        display: block;
        position: absolute;
        top: var(--right-edge-top);
        right: var(--right-edge-right);
        width: var(--right-edge-width);
        height: 100%;
        background-color: gray;
        outline: 2px solid black;
        transform: skewY(45deg);
      }

      &.bottom-edge::after {
        content: '';
        display: block;
        position: absolute;
        left: var(--bottom-edge-left);
        bottom: var(--bottom-edge-bottom);
        width: 100%;
        height: var(--bottom-edge-height);
        background-color: gray;
        outline: 2px solid black;
        transform: skewX(45deg);
      }
    }
  }
}

.meno-puzzle-shiny {
  pointer-events: none;
  animation: floating-number-up 0.5s 0.5s forwards ease-out;
}

@keyframes rotate-stepwise-1-8 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: step-start;
  }

  12% {
    transform: rotate(45deg);
    animation-timing-function: step-start;
  }

  25% {
    transform: rotate(90deg);
    animation-timing-function: step-start;
  }

  37% {
    transform: rotate(135deg);
    animation-timing-function: step-start;
  }

  50% {
    transform: rotate(180deg);
    animation-timing-function: step-start;
  }

  62% {
    transform: rotate(225deg);
    animation-timing-function: step-start;
  }

  75% {
    transform: rotate(270deg);
    animation-timing-function: step-start;
  }

  87% {
    transform: rotate(315deg);
    animation-timing-function: step-start;
  }

  100% {
    transform: rotate(0deg);
    animation-timing-function: step-start;
  }
}