@mixin inline-icon-16-16 {
  content: '';
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.fancy-text {
  .bold {
    font-weight: bold;
  }

  .inline-icon {
    &.iku-ikumin::before {
      @include inline-icon-16-16();
      background-image: url("../img/ikumin1.png");
      top: 2px;
    }

    &.iku-furifuri::before {
      @include inline-icon-16-16();
      background-image: url("../img/furifuri.png");
      top: 3px;
    }

    &.aoi-nuggie::before {
      @include inline-icon-16-16();
      background-image: url("../img/nuggie.png");
      top: 3px;
    }

    &.aoi-heckie::before {
      @include inline-icon-16-16();
      background-image: url("../img/heckie.png");
      top: 3px;
    }

    &.meno-shiny::before {
      @include inline-icon-16-16();
      background-image: url("../img/shiny.png");
      top: 3px;
    }
  }
}