:root {
  --scene-width: 960px;
  --scene-height: 540px;
  --base-appear-time: 0.4s;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.tooltip-trigger .tooltip-box {
  display: none;
}

.tooltip-trigger:hover .tooltip-box {
  display: block;
}

.shop-box {
  width: 282px;
  max-width: 282px;
  padding: 10px;
  border: 3px solid gray;
  animation: shop-box-appear var(--base-appear-time) ;
}

@keyframes shop-box-appear {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.shop-box.minigame-generator {
  background: linear-gradient(#add8e6, #c9e7f1);
  border: 3px outset lightgray;
}

.shop-box.minigame-buff {
  background: linear-gradient(#7fffd4, #a4ffe1);
  border: 3px outset lightgreen;
}

.shop-box.tier-two-unlock {
  background: linear-gradient(90deg, aliceblue, lavender);
  animation: tier-two-unlock-bg 2s infinite linear;
}

@keyframes tier-two-unlock-bg {
  0% {
    border: 3px outset lightpink;
  }
  33% {
    border: 3px outset lavender;
  }
  67% {
    border: 3px outset lightblue;
  }
  100% {
    border: 3px outset lightpink;
  }
}

.shop-box.out-of-stock {
  background: none;
  background-color: gray;
  border: 3px solid darkgray;
  animation: none;
}

.shop-box .tooltip-box {
  width: 250px;
  position: absolute;
  bottom: 18px;
  right: 18px;
  padding: 8px;
  border: 1px solid gray;
  background: radial-gradient(circle at top 20px left 12px,
      #ffffff 59px, #c0ffff 60px, #ffffff 61px,
      #ffffff 99px, #e0ffff 100px, #ffffff 101px,
      #ffffff 139px, #f0ffff 140px, #ffffff 141px);
}

.shop-box.out-of-stock .tooltip-box {
  background: none;
  background-color: lightgray;
}

.minigame-size {
  position: relative;
  width: var(--scene-width);
  max-width: var(--scene-width);
  height: var(--scene-height);
  max-height: var(--scene-height);
}

.aoi-minigame {
  padding: 0 0 0 0;
  border: 2px dotted black;
  margin: 0 auto;
  overflow: hidden;
  background-color: cornflowerblue;
  user-select: none;
}

.aoi-minigame .floating-number-outer {
  position: absolute;
  width: 200px;
  height: 40px;
  animation: aoi-minigame-floating-number 1s;
}

.aoi-minigame .floating-number-outer .floating-number-inner {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  color: black;
}

.aoi-minigame .floating-number-outer .floating-number-inner-crit {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 20pt;
  color: orange;
  -webkit-text-stroke: 1px black;
}

.aoi-minigame .floating-number-outer .floating-number-inner-dog {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 24pt;
  color: white;
  -webkit-text-stroke: 1px black;
}

@keyframes aoi-minigame-floating-number {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}