:root {
  --scene-width: 960px;
  --scene-height: 540px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.tooltip-box {
  background-color: white;
}

.tooltip-trigger .tooltip-box {
  display: none;
}

.tooltip-trigger:hover .tooltip-box {
  display: block;
}

.shop-box {
  width: 282px;
  max-width: 282px;
  padding: 10px;
  border: 3px solid gray;
}

.shop-box.minigame-generator {
  background: linear-gradient(#add8e6, #c9e7f1);
  border: 3px outset lightgray;
}

.shop-box.minigame-buff {
  background: linear-gradient(#7fffd4, #a4ffe1);
  border: 3px outset lightgreen;
}

.shop-box.out-of-stock {
  background: none;
  background-color: gray;
  border: 3px solid darkgray;
}

.shop-box.out-of-stock .tooltip-trigger:hover .tooltip-box {
  background-color: lightgray;
}

.minigame-size {
  position: relative;
  width: var(--scene-width);
  max-width: var(--scene-width);
  height: var(--scene-height);
  max-height: var(--scene-height);
}

.aoi-minigame {
  padding: 0 0 0 0;
  border: 2px dotted black;
  margin: 0 auto;
  overflow: hidden;
  background-color: cornflowerblue;
  user-select: none;
}

.aoi-minigame .floating-number-outer {
  position: absolute;
  width: 200px;
  height: 40px;
  animation: aoi-minigame-floating-number;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.aoi-minigame .floating-number-inner {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  color: black;
}

.aoi-minigame .floating-number-inner-crit {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 20pt;
  color: orange;
  -webkit-text-stroke: 1px black;
}

.aoi-minigame .floating-number-inner-dog {
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 24pt;
  color: white;
  -webkit-text-stroke: 1px black;
}

@keyframes aoi-minigame-floating-number {
  from {
    transform: none;
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}